.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid red;
}

.star-container {
  font-size: 80px;
}

.star:hover {
  padding: 10px;
  color: gray;
  cursor: pointer;
}

.star-filled {
  color: #ffdf00;
}